/************ RESET *********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #126D71;
    color: #ECEDF2;
    padding: 60px;
}


/************** COMMON *********/

.container,
.btn-ctn,
header {
    max-width: 1200px;
    margin: 20px auto 0;
}

.action,
.num-box {
    background-color: brown;
}

header,
.btn-ctn {
    text-align: center;
}
/********** MAIN CONTENT *********/

.action {
    color: #fff;
    border: 2px solid brown;
    padding: 12px 24px;
    transition: ease .40s;
}

.action:hover {
    background-color: transparent;
    cursor: pointer;
    transform: translateY(-8px);
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.num-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: calc(95% / 10);
    margin: 5px 0;
}

.num {
    font-size: 1.2rem;
}

.fizz {
    background-color: #fb5600;
}

.buzz {
    background-color: #f46c95;
}

.fizzbuzz {
    background-color: #1bfaad;
    color: black;
}